// BACKGROUNDS
$bg-color-1:#161923;
$bg-color-2:#282d3f;
$bg-color-3:#191c2e;

// COLORS
$fg-color-1:#bcbdd0;

.mouse-modal-icon {
  font-size: 42px;
  font-weight: bold;
  width: 15px;
  height: 15px;
  background-color: transparent;
  position: absolute;
  top: -10px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid $fg-color-1;
}

.mouse-modal {
  width: auto;
  height:auto;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px;
  color: $bg-color-1;
  border-radius: 4px;
  background-color: $fg-color-1;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  animation: mouse-modal 0.1s backwards;
}


.mouse-modal-1 {
  position: absolute;
  left: calc(100% - 190px);
  top: 180px;
}


@media screen and (max-width:570px){
  .mouse-modal-icon {
    display:none;
  }

  .mouse-modal-1 {
    position: absolute;
    left: calc(100% - 280px);
    top: 180px;
  }
}

@media screen and (max-width:420px){
  .mouse-modal-icon {
    display: block;
  }

  .mouse-modal-icon {
    left: calc(100% - 6rem);
  }

}

@media screen and (max-width:420px){
  .mouse-modal-icon {
    left: calc(100% - 4rem);
  }
}

@keyframes mouse-modal {
  from {
    height: 0px;
    opacity: 0;
  }

  to {
    height: 40px;
    opacity: 1;
  }

}